<div class="container">
  <h1>Sales report</h1>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="displayName">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.displayName}} </td>
    </ng-container>

    <ng-container matColumnDef="foodType">
      <th mat-header-cell *matHeaderCellDef> Food type </th>
      <td mat-cell *matCellDef="let element"> {{element.foodType}} </td>
    </ng-container>

    <ng-container matColumnDef="foodName">
      <th mat-header-cell *matHeaderCellDef> Food name </th>
      <td mat-cell *matCellDef="let element"> {{element.foodName}} </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef> Quantity </th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef> Unit Price </th>
      <td mat-cell *matCellDef="let element"> {{element.unitPrice}} </td>
    </ng-container>

    <ng-container matColumnDef="preparedOn">
      <th mat-header-cell *matHeaderCellDef> Prepared On </th>
      <td mat-cell *matCellDef="let element"> {{element.preparedOn}} </td>
    </ng-container>

    <ng-container matColumnDef="expiryDate">
      <th mat-header-cell *matHeaderCellDef> Expire Date </th>
      <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
    </ng-container>

    <ng-container matColumnDef="userLocation">
      <th mat-header-cell *matHeaderCellDef> Location </th>
      <td mat-cell *matCellDef="let element"> {{element.userLocation}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
